# Virtual environments
.venv/
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Compiled / build stuff
*.so
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code settings
.vscode/
.history/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

